#nav-fluid-logo-menu-btn {
	background: transparent;
}

#nav-fluid-logo-menu-btn .nav-bg {
	background: #000000;
	opacity: 0.85;
}
#header-slogan-modal-2 {
	background: #000000;
}

#header-slogan-modal-2 .bg {
	background-image: url('../images/WiFi-Halow_2-1024x680.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
}
#header-slogan-modal-2--0 .bg {
    background-image: url('../images/bg-7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:1;
}#desc-text-img-2 .bg {
    background-image: url('../images/bg-27.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    background-position: bottom center;
    opacity: 1;
}#footer-center-social-logo {
    background: #222222;
}

#logindata .bg {
	background-image: url('../images/mobile-apps-phone_ss_1920_kkqyrd.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: bottom center;
	opacity: 0.3;
}
section#logindata {
    min-height: 500px !important;
    height: 100vh !important;
}
#net img {
    max-width:100%;
    margin-top:15px;
}

#button p {
    margin-bottom: 30px;
}
#redy {
    margin-top:40px;
}
.navbar-brand a {
    background-color: #5bc0de;
    color: white;
    padding: 5px;
    border-radius: 2px
}
.m-auto {
    margin: 0 auto;
}

.my-class-padding {
    padding: 0 !important;
}

#map {
    width: auto;
    height: 500px;
    margin-bottom: 15px;
}

.input-success {
   border: 3px solid #1f991fbd !important; 
}
.input-error {
    border: 3px solid #d29897 !important; 
}

#spec-404 {
    background: #222222;
}

#spec-404 .bg {
    background-image: url('/images/bg-laptop-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.10;
}
.point-redactor .input-group {
    width: 100%;
}

.point-redactor label {
    color: #ffffff;
    font-size: 14px;
    font-weight: lighter;
}

.point-data:hover {
    background: #2f2e2ea3; /* Цвет фона под ссылкой */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media (max-width: 991px) {
    #printLabel {
        display: none;
    }
}
@media print {
    @page {
        size: auto;
        margin: 30px;
    }
    #button-panel, #allMapsButton, #map, footer, .bg, .nav{
        display: none;
    }
    .container {
        margin-top: 5px;
    }
}

/*Стили для таблицы*/
th {
    text-align: center;
}
td a {
    color: #3dff53 !important;
}
.table tr:hover {
    background: #444454;
}



